body,html {
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.seekbar {
    -webkit-appearance: none;
    width: 300px;
    background: transparent;
}
  
.seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
.seekbar:focus {
    outline: none;
}
  
.seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.seekbar::-moz-range-thumb {
    height: 20px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.seekbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
}

.seekbar:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}

.seekbar::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
}

.volume {
    -webkit-appearance: none;
    width: 100px;
    background: transparent;
}
  
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
.volume:focus {
    outline: none;
}
  
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.volume::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #10AEF5;
}

.volume:focus::-webkit-slider-runnable-track {
  background: #10AEF5;
}

.volume::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #10AEF5;
}

audio {
    display: none;
}

.play-pause {
    border: none;
    background: transparent;
    color: #10AEF5;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.controls {
    width: 480px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;;
}

.audio-player{
    background: #020202;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.white {
    color : #fff;
}